body {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #161513;
    color: #F0F2F5;
}

h1 {
    margin: 0;
    font-size: 72px;
    font-weight: bold;
}

h4 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

h5 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    height: 68px;
    align-items: center;
    display: flex;
    transition: 200ms linear;
    border-bottom: .5px solid transparent;
    background-color: #161513;
    z-index: 1;
}

nav>ul {
    display: flex;
    flex-grow: 1;
    margin-left: 30px;
}

nav>ul>li {
    padding-right: 20px;
    list-style-type: none;
}

nav>ul>li>a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

nav>ul>li>a:current {
    color: red;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.filled-button {
    padding: 0 20px;
    background-color: #F0F2F5;
    border: none;
    height: max(40px, 1vw);
    color: #161513;
    font-size: 0.8em;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.filled-button:hover {
    box-shadow: 0 5px 5px #f0f2f52f;
}

.outline-button {
    margin: 0 5px;
    background-color: transparent;
    height: max(40px, 1vw);
    color: #F0F2F5;
    font-size: min(5vw, 0.8em);
    font-weight: 400;
    border: 1.5px solid #F0F2F5;
    border-radius: 50px;
    cursor: pointer;
    padding: 0 20px;
}

.outline-button:hover {
    background-color: rgba(211, 211, 211, 0.218);
}

.main {
    padding: 6% 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.txt-gradient {
    background: #B16CEA;
    background: linear-gradient(to right, #B16CEA 0%, #FF5E69 49%, #FF8A56 80%, #FFA84B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    margin: 0;
    margin-top: 5px;
    color: #B9BBBC;
    word-break: keep-all;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}
