body {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #161513;
    color: #F0F2F5;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    height: 68px;
    align-items: center;
    display: flex;
    transition: 200ms linear;
    border-bottom: .5px solid transparent;
    background-color: #161513;
    z-index: 1;
}

.nav-scrolled {
    border-bottom: .5px solid #e8e8e8;
}

nav>ul {
    display: flex;
    flex-grow: 1;
    margin-left: 30px;
}

nav>ul>li {
    padding-right: 20px;
    list-style-type: none;
}

nav>ul>li>a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
}

nav>ul>li>a:hover {
    color: #FF8A56;
    transform: translateY(-2px);
}

nav>ul>li>a.active {
    color: #FF8A56;
    font-weight: 600;
}

nav>ul>li>a:current {
    color: red;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.filled-button {
    padding: 0 20px;
    background-color: #F0F2F5;
    border: none;
    height: max(40px, 1vw);
    color: #161513;
    font-size: 0.8em;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.filled-button:hover {
    box-shadow: 0 5px 5px #f0f2f52f;
}

.outline-button {
    margin: 0 5px;
    background-color: transparent;
    height: max(40px, 1vw);
    color: #F0F2F5;
    font-size: min(5vw, 0.8em);
    font-weight: 400;
    border: 1.5px solid #F0F2F5;
    border-radius: 50px;
    cursor: pointer;
    padding: 0 20px;
}

.outline-button:hover {
    background-color: rgba(211, 211, 211, 0.218);
}

.main {
    padding: 6% 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.txt-gradient {
    background: #B16CEA;
    background: linear-gradient(to right, #B16CEA 0%, #FF5E69 49%, #FF8A56 80%, #FFA84B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item {
    padding: 25px 25px;
    border-bottom: 1px solid #B9BBBC;
    transition: .5s;
    animation: ease-in-out;
}

.item:hover {
    border-bottom: 1px solid #FF8A56;
}

.title {
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.desc {
    margin: 0;
    margin-top: 5px;
    color: #B9BBBC;
    word-break: keep-all;
}

.list-item {
    gap: 10px;
    justify-content: space-between;
}

footer {
    background-color: #161513;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5% 0 0 0;
    padding: 0 5% 20px 5%;
    border-top: 1px solid #B9BBBC;
    /* z-index: 10; */
}

ul>li {
    margin-left: 10px;
    padding-right: 20px;
    list-style-type: circle;
}

ul>li>a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

section {
    margin: 0 5%;
}

.box-img {
    background-color: #1C1C22;
    padding: 25px 35px;
    text-align: center;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 5px;
    animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 0.3s;
}

.box-img:hover {
    border-radius: 25px;
    border: 1px solid #F0F2F5;
}

div[class='box-img']>img {
    width: 100px;
}

div>p {
    margin: 0;
    margin-top: 15px;
}


.vl {
    border-left: 1px solid #B9BBBC;
    height: 100px;
}

form {
    margin-left: 40px;
}

form>label {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 10px;
}

form>input {
    width: 40vw;
    background-color: #1C1C22;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #F0F2F5;
    font-size: 18px;
    font-weight: 600;
}

form>textarea {
    background-color: #1C1C22;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
}

.bg-gradient {
    background: #B16CEA;
    background: linear-gradient(to right, #B16CEA 0%, #FF5E69 49%, #FF8A56 80%, #FFA84B 100%);
    background-clip: border-box;
    -webkit-background-clip: border-box;
}

.txt-light {
    color: #F0F2F5;
    font-weight: 500;
    font-size: 16px;
}
