body {
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #161513;
    color: #F0F2F5;
}

h1 {
    margin: 0;
    font-size: 72px;
    font-weight: bold;
}

h5 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5%;
    height: 68px;
    align-items: center;
    display: flex;
    transition: 200ms linear;
    border-bottom: .5px solid transparent;
    background-color: #161513;
    z-index: 1;
}

nav>ul {
    display: flex;
    flex-grow: 1;
    margin-left: 30px;
}

nav>ul>li {
    padding-right: 20px;
    list-style-type: none;
}

nav>ul>li>a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

nav>ul>li>a:current {
    color: red;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.filled-button {
    padding: 0 20px;
    background-color: #F0F2F5;
    border: none;
    height: max(40px, 1vw);
    color: #161513;
    font-size: 0.8em;
    font-weight: 400;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
}

.filled-button:hover {
    box-shadow: 0 5px 5px #f0f2f52f;
}


